<app-loader></app-loader>
<form class="xl:h-full" [formGroup]="form" (ngSubmit)="submitForm(form.value)">
  <div class="main xl:flex-row 2xs:flex-col xl:pt-0 2xs:pt-16">
    <section class="p-4 flex flex-col justify-between bg-grey sm:w-full xl:w-1/5 2xl:w-1/6">
      <div class="flex justify-center items-center flex-col gap-8 2xs:pb-6">
        <mat-icon style="text-align: right" *ngIf="this.form.value.avatar === ''; else profileImage" class="profile_img"
          svgIcon="matProfile" aria-hidden="false" aria-label="profile">
        </mat-icon>
        <ng-template #profileImage>
          <img [src]="form.value.avatar" class="profile_img bg-white" alt="profile" srcset="" />
        </ng-template>
        <button type="button" mat-raised-button color="primary" (click)="file.click()">
          <mat-icon aria-hidden="false" aria-label="edit" size="small" color="default">insert_photo</mat-icon>
          <span class="pl-2">Upload Profile Photo
            <input autocomplete="off" (change)="convertToBase64($event)" type="file" accept="image/*" #file
              hidden /></span>
        </button>
      </div>
      <div class="xl:border-white xl:border-solid xl:border-t-2 2xs:border-none">
        <div class="2xs:hidden pt-8 xl:flex w-full gap-4 flex-col border-b-2 border-solid border-white">
          <img class="logo" src="assets/img/logo.svg" alt="" />
          <span color="primary" class="mat-h4 mat-subheading-1">
            Choose the right nutrition for your animal and create your own feed
            ataffordable rates.
          </span>
        </div>


        <div class="xl:pt-8 xl:flex xl:items-center xl:gap-4 xl:w-full 2xs:hidden">
          <mat-icon aria-hidden=" false" aria-label="edit">phone</mat-icon>
          <span class="mat-small mat-caption">+91 9451463635</span>
        </div>
        <div class="xl:pt-8 xl:flex xl:items-center xl:gap-4 xl:w-full 2xs:hidden">
          <mat-icon aria-hidden="false" aria-label="edit">mail</mat-icon>
          <span class="mat-small mat-caption">support@efeed.in</span>
        </div>
        <div class="xl:pt-8 xl:flex xl:items-center xl:gap-4 xl:w-full 2xs:hidden">
          <mat-icon aria-hidden=" false" aria-label="edit">location_city</mat-icon>
          <span class="mat-small mat-caption">15A, 4th Floor City Vista Suite No. 538 Fountain Road, Pune,
            Maharashtra, 411014, India</span>
        </div>
      </div>
    </section>
    <aside class="xl:w-4/5 2xl:w-5/6 lf:w-full">
      <div
        class="mat-toolbar flex justify-between items-center p-4 2xs:opacity-1 2xs:pr-4 z-10 2xs:fixed 2xs:top-0 2xs:w-full xl:static">
        <h1 class="mat-h1 mat-headline">Registration Form</h1>
        <button [disabled]="form.invalid" mat-button color="primary" type="submit">
          Save
        </button>
      </div>
      <div class="p-8 grid gap-6 sm:grid-cols-3 2xs:grid-cols-1 xs:grid-cols-2 xl:grid-cols-4 2xl:grid-cols-4">
        <app-mat-custom-input label="First Name " [mandatory]="true" type="text" placeHolder="Enter your name"
          autocomplete="off" [formControlname]="$any(form.get('firstName'))"
          [errors]="$any(form.get('firstName')).errors" appearance="outline">
        </app-mat-custom-input>
        <app-mat-custom-input label="Last Name " [mandatory]="true" type="text" placeHolder="Enter your surname"
          autocomplete="off" [formControlname]="$any(form.get('lastName'))" [errors]="$any(form.get('lastName')).errors"
          appearance="outline"></app-mat-custom-input>
        <div class="w-full">
          <label mat-label for="name">Gender <span class="text-error">*</span></label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-select formControlName="gender" placeholder="Select">
              <mat-option *ngFor="let gender of genders" [value]="gender">
                {{ gender }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <ng-container *ngFor="let key of errorsOfgender">
            <mat-error *ngIf="form.get('gender')?.touched; else placeHolder">{{
              customErrorMessages[key]
              }}</mat-error>
            <ng-template #placeHolder>
              <div class="pb-5"></div>
            </ng-template>
          </ng-container>
        </div>
        <div class="w-full">
          <label mat-label for="name">Date of Birth <span class="text-error">*</span></label>
          <mat-form-field appearance="outline" class="w-full">
            <input autocomplete="off" formControlName="dob" readonly [max]="maxDate" placeholder="DD/MM/YYYY"
              (dateChange)="handleDob($event)" matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker disabled="false" #picker> </mat-datepicker>
          </mat-form-field>
          <ng-container *ngFor="let key of errorsOfdob">
            <mat-error *ngIf="form.get('dob')?.touched; else placeHolder">{{
              customErrorMessages[key]
              }}</mat-error>
            <ng-template #placeHolder>
              <div class="pb-5"></div>
            </ng-template>
          </ng-container>
        </div>
        <app-mat-custom-input label="Age " [mandatory]="true" type="text" placeHolder="Select Date of Birth"
          autocomplete="off" [formControlname]="$any(form.get('age'))" [errors]="$any(form.get('age')).errors"
          appearance="outline" [readonly]="true"></app-mat-custom-input>
        <app-mat-custom-input label="Address line 1 " [mandatory]="true" type="text"
          placeHolder="Flat-no/house-no/landmark/street" autocomplete="off"
          [formControlname]="$any(form.get('addressLine1'))" [errors]="$any(form.get('addressLine1')).errors"
          appearance="outline" [readonly]="false"></app-mat-custom-input>
        <app-mat-custom-input label="Address line 2 (optional) " [mandatory]="false" type="text"
          placeHolder="village/city" autocomplete="off" [formControlname]="$any(form.get('addressLine2'))"
          [errors]="$any(form.get('addressLine2')).errors" appearance="outline" [readonly]="false">
        </app-mat-custom-input>
        <div class="w-full">
          <label mat-label for="name">Phone number <span class="text-error">*</span></label>
          <mat-form-field appearance="outline" class="w-full">
            <input autocomplete="off" formControlName="pNo" placeholder="10 Digit Phone number" min="1000000000"
              max="9999999999" (blur)="handlePhoneValidation()" matInput type="text" />
            <mat-spinner [diameter]="20" *ngIf="validatingNumber" matSuffix></mat-spinner>
            <mat-icon color="primary" matSuffix *ngIf="isValidNumber">check</mat-icon>
          </mat-form-field>
          <ng-container *ngFor="let key of errorsOfpNo">
            <mat-error *ngIf="form.get('pNo')?.touched; else placeHolder">{{
              customErrorMessages[key]
              }}</mat-error>
            <ng-template #placeHolder>
              <div class="pb-5"></div>
            </ng-template>
          </ng-container>
        </div>
        <div class="w-full">
          <label mat-label for="name">Pincode <span class="text-error">*</span></label>
          <mat-form-field appearance="outline" class="w-full">
            <input placeholder="Enter 6 digit pin code" autocomplete="off" formControlName="pinCode" min="100000"
              max="999999" (blur)="validatePinCode()" matInput type="number" />
            <mat-spinner [diameter]="20" *ngIf="validatingPinCode" matSuffix></mat-spinner>
            <mat-icon color="primary" matSuffix *ngIf="isValidPincode">check</mat-icon>
          </mat-form-field>
          <ng-container *ngFor="let key of errorsOfpinCode">
            <mat-error *ngIf="form.get('pinCode')?.touched; else placeHolder">{{
              customErrorMessages[key]
              }}</mat-error>
            <ng-template #placeHolder>
              <div class="pb-5"></div>
            </ng-template>
          </ng-container>
        </div>
        <app-mat-custom-input label="State " [mandatory]="false" type="text" placeHolder="Enter Pin Code first"
          autocomplete="off" [formControlname]="$any(form.get('state'))" [errors]="$any(form.get('state')).errors"
          appearance="outline" [readonly]="true"></app-mat-custom-input>
        <app-mat-custom-input label="District " [mandatory]="false" type="text" placeHolder="Enter Pin Code first"
          autocomplete="off" [formControlname]="$any(form.get('district'))" [errors]="$any(form.get('district')).errors"
          appearance="outline" [readonly]="true"></app-mat-custom-input>
      </div>
      <app-weather-widget class="xs:hidden widgeBreah:block"></app-weather-widget>
    </aside>
  </div>
</form>
