.day {
  background: rgb(236, 234, 62);
  background: linear-gradient(126deg, rgba(236, 234, 62, 1) 0%, rgba(255, 201, 0, 1) 0%, rgba(255, 240, 0, 1) 100%);
}

.night {
  background: rgb(0, 0, 0);
  background: linear-gradient(126deg, rgba(0, 0, 0, 1) 0%, rgba(92, 84, 164, 1) 100%);
}

.cloud {
  color: #e4e4e4;
  z-index: 1;
  filter: drop-shadow(1px 1px 5px rgb(221, 227, 230));
  animation-name: cloudMovement;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  position: absolute;
}

@keyframes cloudMovement {
  to {
    margin-left: -90px;
  }

  from {
    margin-left: -65px;
  }
}
