/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@angular/cdk/overlay-prebuilt.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar-track {
  border: 0.25rem solid white;
  background-color: #b2bec3;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb {
  background-color: #673ab7;
  border-radius: 10px;
}

.mat-form-field-wrapper {
  padding-bottom: 0px;
}
